# Python cache files
*.pyc
__pycache__/

# Virtual environment
.venv/

# Data files (if you don't want to track them)
data.csv

# IDE configurations (if you're using an IDE like PyCharm or VSCode)
.idea/
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Other files you don't want to track
*.log
*.db
.ruff_cache/

# PyPI configuration file
.pypirc
